*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/
.vs/
_ReSharper.Caches

bin/

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vscode/*

Thumbs.db
ehthumbs.db

Desktop.ini
$RECYCLE.BIN/

*.dll
*.exe
*.pdb

*.log
*.tlog

~$*
*.~*

*.nupkg
packages/

project.lock.json
project.fragment.lock.json
artifacts/

ScaffoldingReadMe.txt

.idea/

*.PublishSettings

*.publishproj

node_modules/